<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Terms Conditions</title>
    <meta name="keywords" content="Terms Conditions" />
    <meta name="description" content="Terms Conditions" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link href="css/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="css/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/style-custom.css" rel="stylesheet" />
  </head>
  <body class="inner-page">
    <section id="header">
      <div class="container">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">Smartwatch</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"
                ><i class="bi bi-list"></i>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a href="index.html" class="nav-link"><span>Home</span></a>
                </li>
                <li class="nav-item">
                  <a href="shop.html" class="nav-link"><span>Shop</span></a>
                </li>
                <li class="nav-item">
                  <a href="contact.html" class="nav-link"
                    ><span>Contact</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="cart.html" class="nav-link">
                    <span>Cart</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <section id="top_banner" class="inner-banner">
      <div class="container">
        <div class="col-lg-4">
          <div class="top_heade">
            <div class="box_top">
              <p>
                <strong><a href="index.html" class="text-dark">Home</a></strong>
                / Terms & Conditions
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="med_section" class="mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <div class="privicy">
                <h1>&nbsp;</h1>
                <div
                  class="collection"
                  style="
                    box-sizing: border-box;
                    color: rgb(40, 40, 40);
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                  "
                >
                  <h2
                    style="
                      box-sizing: border-box;
                      margin: 0px 0px 20px;
                      line-height: 1.4em;
                      font-size: 32px;
                      position: relative;
                      z-index: 1;
                      padding: 0px;
                      font-family: Poppins, sans-serif;
                    "
                  >
                    CAREFULLY READ AND UNDERSTAND THESE TERMS BEFORE ORDERING
                    ANY PRODUCT THROUGH THIS WEBSITE.
                  </h2>
                  <p
                    style="
                      box-sizing: border-box;
                      margin-top: 0px;
                      margin-bottom: 1rem;
                    "
                  >
                    <span style="box-sizing: border-box; font-weight: 600"
                      >ATTENTION:&nbsp;</span
                    >This is a legal agreement (the &quot;Agreement&quot;)
                    between You, the individual, company or organization
                    (&quot;you,&quot; &quot;your,&quot; or &quot;Customer&quot;)
                    and&nbsp;<span
                      style="box-sizing: border-box; color: rgb(0, 0, 0)"
                      >CORP&nbsp;LLC&nbsp;</span
                    >(&quot;we,&quot; &quot;our&quot;, &quot;Company&quot;). By
                    ordering, accessing, using or purchasing&nbsp;<span
                      style="box-sizing: border-box; color: rgb(0, 0, 0)"
                      >https://www.mybestsoundbuds.com/</span
                    >(&quot;Product&quot;) through this website or related
                    websites (collectively the &quot;Website&quot;), you are
                    agreeing to be bound by, and are becoming a party to, this
                    Agreement. We may at our sole and absolute discretion
                    change, add, modify, or delete portions of this Agreement at
                    any time without notice. It is your sole responsibility to
                    review this Agreement for changes prior to use of the
                    Website or purchase of the Product.
                  </p>
                  <p
                    style="
                      box-sizing: border-box;
                      margin-top: 0px;
                      margin-bottom: 1rem;
                    "
                  >
                    IT IS STRONGLY RECOMMENDED THAT YOU REVIEW THIS DOCUMENT IN
                    ITS ENTIRETY BEFORE ACCESSING, USING OR BUYING ANY PRODUCT
                    THROUGH THE WEBSITE AND PRINT A COPY FOR YOUR RECORDS.
                  </p>
                </div>
                <div
                  class="collection"
                  style="
                    box-sizing: border-box;
                    color: rgb(40, 40, 40);
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                  "
                >
                  <h2
                    style="
                      box-sizing: border-box;
                      margin: 0px 0px 20px;
                      line-height: 1.4em;
                      font-size: 32px;
                      position: relative;
                      z-index: 1;
                      padding: 0px;
                      font-family: Poppins, sans-serif;
                    "
                  >
                    Terms &amp; Conditions
                  </h2>
                  <p
                    style="
                      box-sizing: border-box;
                      margin-top: 0px;
                      margin-bottom: 1rem;
                    "
                  >
                    Please carefully read the following terms and conditions as
                    when you purchase any of the products from our web site, you
                    agree and are bound to the following terms and conditions.
                    Your order will not be processed unless you check the box
                    near the terms and conditions signifying that you have read
                    and agreed to the terms.
                  </p>
                  <p
                    style="
                      box-sizing: border-box;
                      margin-top: 0px;
                      margin-bottom: 1rem;
                    "
                  >
                    This Agreement is between our Company and you
                    (&quot;you&quot; or &quot;Customer&quot;). This Section sets
                    forth the terms and conditions which apply to the use by you
                    of the website (as defined below) and any other product or
                    service offered for sale by us and/or our affiliates.
                  </p>
                  <p
                    style="
                      box-sizing: border-box;
                      margin-top: 0px;
                      margin-bottom: 1rem;
                    "
                  >
                    The right to use any product or service offered by our
                    Company is personal to you and is not transferable to any
                    other person or entity. We reserve the right to make changes
                    to the website, policies, and these terms at any time
                    without notice.
                  </p>
                </div>
                <div
                  class="collection"
                  style="
                    box-sizing: border-box;
                    color: rgb(40, 40, 40);
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                  "
                >
                  <h2
                    style="
                      box-sizing: border-box;
                      margin: 0px 0px 20px;
                      line-height: 1.4em;
                      font-size: 32px;
                      position: relative;
                      z-index: 1;
                      padding: 0px;
                      font-family: Poppins, sans-serif;
                    "
                  >
                    Ordering &amp; Shipping
                  </h2>
                  <p
                    style="
                      box-sizing: border-box;
                      margin-top: 0px;
                      margin-bottom: 1rem;
                    "
                  >
                    By placing an order, you will be charged the full price of
                    the package you selected and the order will be shipped to
                    the address you provided during checkout. All items are
                    processed and shipped within 3 business days of purchase and
                    are shipped Priority mail via USPS. Please allow 3-5
                    business days to receive your product(s).
                  </p>
                </div>
                <div
                  class="collection"
                  style="
                    box-sizing: border-box;
                    color: rgb(40, 40, 40);
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                  "
                >
                  <h2
                    style="
                      box-sizing: border-box;
                      margin: 0px 0px 20px;
                      line-height: 1.4em;
                      font-size: 32px;
                      position: relative;
                      z-index: 1;
                      padding: 0px;
                      font-family: Poppins, sans-serif;
                    "
                  >
                    Indemnification
                  </h2>
                  <p
                    style="
                      box-sizing: border-box;
                      margin-top: 0px;
                      margin-bottom: 1rem;
                    "
                  >
                    You agree to defend, indemnify and hold harmless the
                    Company, its affiliates and their respective directors,
                    officers, employees and agents from and against all claims
                    and expenses, including attorneys' fees, arising out of the
                    use by you of the website, including claims by other users,
                    access, products or memberships.
                  </p>
                </div>
                <div
                  class="collection"
                  style="
                    box-sizing: border-box;
                    color: rgb(40, 40, 40);
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                  "
                >
                  <h2
                    style="
                      box-sizing: border-box;
                      margin: 0px 0px 20px;
                      line-height: 1.4em;
                      font-size: 32px;
                      position: relative;
                      z-index: 1;
                      padding: 0px;
                      font-family: Poppins, sans-serif;
                    "
                  >
                    One Time Purchase terms:
                  </h2>
                  <p
                    style="
                      box-sizing: border-box;
                      margin-top: 0px;
                      margin-bottom: 1rem;
                    "
                  >
                    When ordering your item, you will be charged depending on
                    which item is selected at the time of the order. There will
                    be no additional charges after the completion of this one
                    time transaction. If this product is not right for you, or
                    you have any questions, contact customer service with any
                    questions by calling (888) 888-8888 or
                    e-mailing&nbsp;support@X.com.&nbsp;Charges will appear on
                    your credit card statements as mybestsoundbuds.com.
                  </p>
                  <div class="collection" style="box-sizing: border-box">
                    <h2
                      style="
                        box-sizing: border-box;
                        margin: 0px 0px 20px;
                        line-height: 1.4em;
                        font-size: 32px;
                        position: relative;
                        z-index: 1;
                        padding: 0px;
                        font-family: Poppins, sans-serif;
                      "
                    >
                      Products:
                    </h2>
                    The following list contains the products we sell and their
                    associated price points.<br
                      style="box-sizing: border-box"
                    />
                    <div
                      class="table-responsive"
                      style="
                        box-sizing: border-box;
                        width: 1170px;
                        overflow-x: auto;
                        border-color: rgb(244, 244, 244);
                        margin-top: 20px;
                      "
                    >
                      <table
                        class="table"
                        style="
                          border-collapse: collapse;
                          width: 1170px;
                          margin-bottom: 1rem;
                          color: rgb(40, 40, 40);
                        "
                      >
                        <thead style="box-sizing: border-box">
                          <tr style="box-sizing: border-box">
                            <td
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top-style: solid;
                                border-top-color: rgb(244, 244, 244);
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              Name
                            </td>
                            <td
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top-style: solid;
                                border-top-color: rgb(244, 244, 244);
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              Price
                            </td>
                          </tr>
                        </thead>
                        <tbody
                          ng-controller="productData"
                          class="ng-scope"
                          style="box-sizing: border-box"
                        >
                          <tr
                            ng-repeat="x in allproducts"
                            class="ng-scope"
                            style="box-sizing: border-box"
                          >
                            <td
                              class="ng-binding"
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top: 0px;
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              Stapler&nbsp;
                            </td>
                            <td
                              class="ng-binding"
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top: 0px;
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              $7.95
                            </td>
                          </tr>
                          <tr
                            ng-repeat="x in allproducts"
                            class="ng-scope"
                            style="box-sizing: border-box"
                          >
                            <td
                              class="ng-binding"
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top-style: solid;
                                border-top-color: rgb(244, 244, 244);
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              Productivity Journal
                            </td>
                            <td
                              class="ng-binding"
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top-style: solid;
                                border-top-color: rgb(244, 244, 244);
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              $17.95
                            </td>
                          </tr>
                          <tr
                            ng-repeat="x in allproducts"
                            class="ng-scope"
                            style="box-sizing: border-box"
                          >
                            <td
                              class="ng-binding"
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top-style: solid;
                                border-top-color: rgb(244, 244, 244);
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              2023 Laminated Monthly Calendar
                            </td>
                            <td
                              class="ng-binding"
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top-style: solid;
                                border-top-color: rgb(244, 244, 244);
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              $39.95
                            </td>
                          </tr>
                          <tr
                            ng-repeat="x in allproducts"
                            class="ng-scope"
                            style="box-sizing: border-box"
                          >
                            <td
                              class="ng-binding"
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top-style: solid;
                                border-top-color: rgb(244, 244, 244);
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              Earbuds
                            </td>
                            <td
                              class="ng-binding"
                              style="
                                box-sizing: border-box;
                                padding: 20px 15px;
                                vertical-align: top;
                                border-top-style: solid;
                                border-top-color: rgb(244, 244, 244);
                                font-size: 15px;
                                line-height: 22px;
                              "
                            >
                              $59.95
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="collection" style="box-sizing: border-box">
                    <h2
                      style="
                        box-sizing: border-box;
                        margin: 0px 0px 20px;
                        line-height: 1.4em;
                        font-size: 32px;
                        position: relative;
                        z-index: 1;
                        padding: 0px;
                        font-family: Poppins, sans-serif;
                      "
                    >
                      Return Policy
                    </h2>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      We believe in complete customer satisfaction<span
                        style="box-sizing: border-box; color: rgb(0, 0, 0)"
                        >. You have 30 days to request a refund after you have
                        received your order. We reserve the right to refuse a
                        refund to any customer who repeatedly requests refunds
                        or who, in our judgment, requests refunds in bad
                        faith.</span
                      >
                    </p>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      To return a product, you will need to obtain a Return
                      Merchandise Authorization (RMA) number by contacting us
                      at&nbsp;<span
                        style="box-sizing: border-box; color: rgb(0, 0, 0)"
                        >(888) 888-8888</span
                      >. Our customer service department will email you an RMA
                      number within 24-48 hours of your request. You will be
                      refunded for the opened or unopened units you send back to
                      us. You will need to send the product back to the address
                      provided below. Refused or returned packages that are sent
                      to us without prior approval from Customer Care are not
                      eligible for a refund.
                    </p>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      Our call center is open Monday - Friday from 8 AM - 5 PM
                      Pacific Time.
                    </p>
                  </div>
                  <div class="collection" style="box-sizing: border-box">
                    <h2
                      style="
                        box-sizing: border-box;
                        margin: 0px 0px 20px;
                        line-height: 1.4em;
                        font-size: 32px;
                        position: relative;
                        z-index: 1;
                        padding: 0px;
                        font-family: Poppins, sans-serif;
                      "
                    >
                      Return Address:
                    </h2>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      If you are not satisfied and want to return the product,
                      please write an email with your location
                      to&nbsp;support@mybestsoundbuds.com&nbsp;and we will
                      provide you with the address of the nearest return center.
                    </p>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      <span style="box-sizing: border-box; font-weight: 600"
                        >Be sure to write your RMA # on the outside of the
                        envelope for proper account credit.</span
                      >
                    </p>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      We are not responsible for lost or stolen items. We
                      recommend all returned items to be sent using some type of
                      delivery confirmation system to ensure proper delivery.
                    </p>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      After the shipping department receives your return, it
                      generally takes 7 business days or sooner to process your
                      refund. Once a return is processed, it usually takes 3-5
                      business days for the return to be posted to your account,
                      depending on your financial institution.
                    </p>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      (Fulfillment House)<br style="box-sizing: border-box" />
                      12913 Harbor Blvd Ste Q3 #433, Garden Grove, CA 92840, USA
                    </p>
                    <ul
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 0px;
                      "
                    >
                      <li style="box-sizing: border-box">
                        <p
                          style="
                            box-sizing: border-box;
                            margin-top: 0px;
                            margin-bottom: 1rem;
                          "
                        >
                          Packages marked &quot;Return to Sender&quot; will NOT
                          be processed or refunded. Returned packages will only
                          be refunded with an RMA number that was provided by
                          Customer Service. Call Customer Service at&nbsp;<span
                            style="box-sizing: border-box; color: rgb(0, 0, 0)"
                            >(855) 485-8897&nbsp;</span
                          >for&nbsp;<span
                            style="box-sizing: border-box; color: rgb(0, 0, 0)"
                            >your RMA number. RMA numbers remain valid for 30
                            days.</span
                          >
                        </p>
                      </li>
                      <li style="box-sizing: border-box">
                        <p
                          style="
                            box-sizing: border-box;
                            margin-top: 0px;
                            margin-bottom: 1rem;
                          "
                        >
                          Refunds will only be issued to the same form of
                          payment originally used for purchase.
                        </p>
                      </li>
                      <li style="box-sizing: border-box">
                        <p
                          style="
                            box-sizing: border-box;
                            margin-top: 0px;
                            margin-bottom: 1rem;
                          "
                        >
                          Customer is responsible for return shipping charges.
                        </p>
                      </li>
                      <li style="box-sizing: border-box">
                        <p
                          style="
                            box-sizing: border-box;
                            margin-top: 0px;
                            margin-bottom: 1rem;
                          "
                        >
                          After the warehouse receives your return, it generally
                          takes 7 business days to process your return. Please
                          keep in mind that your bank typically posts credit in
                          the billing cycle in which it was received. Therefore,
                          the number of days it takes for credit to post to your
                          account&nbsp;<span
                            style="
                              box-sizing: border-box;
                              color: rgb(48, 48, 48);
                            "
                            >may vary, depending on your banking institution's
                            billing and credit schedule.</span
                          >
                        </p>
                      </li>
                      <li style="box-sizing: border-box">
                        <p
                          style="
                            box-sizing: border-box;
                            margin-top: 0px;
                            margin-bottom: 1rem;
                          "
                        >
                          Our customer service representatives may offer you a
                          discounted price or partial refund if you call to
                          cancel your account. You may accept or reject the
                          discounted price or partial refund. If you reject the
                          discount or partial refund, then in order to obtain
                          your refund you will be required to return the product
                          to us using an RMA number as described above. If you
                          accept the discount or partial refund, you agree to
                          waive your right to return this order.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="collection" style="box-sizing: border-box">
                    <h2
                      style="
                        box-sizing: border-box;
                        margin: 0px 0px 20px;
                        line-height: 1.4em;
                        font-size: 32px;
                        position: relative;
                        z-index: 1;
                        padding: 0px;
                        font-family: Poppins, sans-serif;
                      "
                    >
                      Reversals &amp; Chargebacks
                    </h2>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      We consider Chargebacks and reversals as potential cases
                      of fraudulent use of our services and/or theft of
                      services, and will be treated as such. We reserve the
                      right to file a complaint with the appropriate local and
                      federal authorities to investigate. Be advised that all
                      activity and IP address information is being monitored and
                      that this information may be used in a civil and/or
                      criminal case(s) against a client if there is fraudulent
                      use and or theft of services.
                    </p>
                  </div>
                  <div class="collection" style="box-sizing: border-box">
                    <h2
                      style="
                        box-sizing: border-box;
                        margin: 0px 0px 20px;
                        line-height: 1.4em;
                        font-size: 32px;
                        position: relative;
                        z-index: 1;
                        padding: 0px;
                        font-family: Poppins, sans-serif;
                      "
                    >
                      Representations
                    </h2>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      You hereby represent and warrant that:
                    </p>
                    <ol
                      id="l2"
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 0px;
                      "
                    >
                      <li style="box-sizing: border-box">
                        <p
                          style="
                            box-sizing: border-box;
                            margin-top: 0px;
                            margin-bottom: 1rem;
                          "
                        >
                          You are age eighteen (18) or older.
                        </p>
                      </li>
                      <li style="box-sizing: border-box">
                        <p
                          style="
                            box-sizing: border-box;
                            margin-top: 0px;
                            margin-bottom: 1rem;
                          "
                        >
                          You have read this Agreement and thoroughly understand
                          the terms contained.
                        </p>
                      </li>
                      <li style="box-sizing: border-box">
                        <p
                          style="
                            box-sizing: border-box;
                            margin-top: 0px;
                            margin-bottom: 1rem;
                          "
                        >
                          You further represent that our Company has the right
                          to rely upon all information and may contact you by
                          email, telephone or postal mail for any purpose
                          regarding the use of this website
                        </p>
                      </li>
                    </ol>
                  </div>
                  <div class="collection" style="box-sizing: border-box">
                    <h2
                      style="
                        box-sizing: border-box;
                        margin: 0px 0px 20px;
                        line-height: 1.4em;
                        font-size: 32px;
                        position: relative;
                        z-index: 1;
                        padding: 0px;
                        font-family: Poppins, sans-serif;
                      "
                    >
                      Billing &amp; Customer Support
                    </h2>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      We welcome all support inquires by the following methods:
                    </p>
                    <p
                      style="
                        box-sizing: border-box;
                        margin-top: 0px;
                        margin-bottom: 1rem;
                      "
                    >
                      CORP X<br />
                      ADDRESS<br />
                      Phone: (888) 888-8888
                    </p>
                  </div>
                </div>
                <h1>&nbsp;</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              <a href="terms-conditions.html">Terms & Conditions</a>
              |
              <a href="privacy-policy.html">Privacy Policy</a>
              | <a href="contact.html"> Contact Us</a>
            </p>
            <p>
              Rhinebeck Marketing Inc 2150 S. 1300 E. Ste. 500, Salt Lake City,
              Utah 84106, United States of America
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="copyrightbox">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>©2023 Smartwatch</p>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="js/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/script-custom.js"></script>
  </body>
</html>
